body {
  background: #202539;
}
#findpass-body {
  width: 100%;
  height: 100%;
  background: #202539;
}
#findpass-body #findpass-box {
  width: 1200px;
  height: 570px;
  background: #202539;
  margin: 180px auto 100px;
}
#findpass-body #findpass-box #findpass-top {
  width: 1200px;
  height: 70px;
}
#findpass-body #findpass-box #findpass-top h3 {
  color: #7A80A2;
}
#findpass-body #findpass-box #findpass-bottom {
  width: 1200px;
  height: 500px;
  background: #31374e;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box {
  width: 600px;
  height: 500px;
  margin: 0 300px;
  position: relative;
  padding: 50px 0 50px 0;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box label {
  text-align: center;
  width: 100px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-email {
  width: 600px;
  height: 50px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-email label {
  color: #B9C0EF;
  font-size: 18px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-email #findpass-email-input {
  padding: 15px 20px;
  font-size: 14px;
  background: #202539;
  border: 0.1px solid #7A80A2;
  color: #B9C0EF;
  width: 495px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-test {
  width: 600px;
  height: 50px;
  margin-top: 20px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-test label {
  color: #B9C0EF;
  font-size: 18px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-test #findpass-email-test {
  padding: 15px 20px;
  font-size: 14px;
  background: #202539;
  border: 0.1px solid #7A80A2;
  color: #B9C0EF;
  width: 320px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-test #v_container {
  width: 150px;
  height: 50px;
  float: right;
  border-radius: 2px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-getemail {
  width: 600px;
  height: 50px;
  margin-top: 20px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-getemail label {
  color: #B9C0EF;
  font-size: 18px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-getemail #findpass-email-get {
  padding: 15px 20px;
  font-size: 14px;
  background: #202539;
  border: 0.1px solid #7A80A2;
  color: #B9C0EF;
  width: 320px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .findpass-getemail .get-email-test {
  width: 150px;
  height: 50px;
  float: right;
  background-color: #ff8400;
  border: 0 solid #ff8400;
  color: white;
  border-radius: 2px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .new-pass {
  width: 600px;
  height: 50px;
  margin-top: 20px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .new-pass label {
  color: #B9C0EF;
  font-size: 18px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .new-pass #findpass-newpass {
  padding: 15px 20px;
  font-size: 14px;
  background: #202539;
  border: 0.1px solid #7A80A2;
  color: #B9C0EF;
  width: 495px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .new-pass-ok {
  width: 600px;
  height: 50px;
  margin-top: 20px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .new-pass-ok label {
  color: #B9C0EF;
  font-size: 18px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .new-pass-ok #findpass-newpass-ok {
  padding: 15px 20px;
  font-size: 14px;
  background: #202539;
  border: 0.1px solid #7A80A2;
  color: #B9C0EF;
  width: 495px;
}
#findpass-body #findpass-box #findpass-bottom #findpass-bot-box .redButton {
  background-color: #bfbfbf;
  color: #fff;
  font-size: 14px;
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 20px 100px ;
}
/*# sourceMappingURL=findPass.css.map */