#index-bottom {
  height: 285px;
  width: 1200px;
  margin: auto;
  background-color: #171a21;
}
#index-bottom-box1 {
  width: 1200px;
  background-color: #171a21;
  border-bottom: 1px dashed gray;
}
#index-bottom-link {
  padding: 25px 0 15px 0;
  color: gray;
}
#index-bottom-link #index-bottom-link-fir {
  margin-left: 1px;
}
#index-bottom-link li {
  float: left;
  margin-left: 30px;
}
#index-bottom-link li a {
  color: gray;
  text-decoration: none;
}
#index-bottom-link li a:hover {
  color: white;
}
#index-bottom-box2 {
  width: 750px;
  background-color: #171a21;
}
#index-bottom-link2 #index-bottom-link2-fri {
  margin-left: 1px;
}
#index-bottom-link2 {
  display: block;
}
#index-bottom-link2 li {
  float: left;
  margin-left: 40px;
  padding: 30px 0 20px 0px;
}
#index-bottom-link2 li a {
  color: gray;
  text-decoration: none;
}
#index-bottom-link2 li a:hover {
  color: white;
}
#index-bottom-box2-text {
  width: 680px;
  padding: 80px 0 0 0;
}
#index-bottom-box2 p {
  font-size: 12px;
  color: #c5bec2;
}
#index-bottom-else-link {
  float: right;
  margin-top: -100px;
}
#index-bottom-else-link i {
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
}
#bottom-qq:hover {
  color: red;
}
#bottom-weixin:hover {
  color: limegreen;
}
#bottom-zhihu:hover {
  color: deepskyblue;
}
#bottom-weibo:hover {
  color: orangered;
}
#bottom-bili:hover {
  color: pink;
}
