.loginSmallDiv {
  background-color: #292e42;
  width: 1200px;
  height: 580px;
  padding: 50px 50px 80px 50px;
  margin: 150px auto 50px auto;
  border: solid 1px #3a4056;
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #1d2133;
  min-height: 730px;
}
.loginSmallDiv .login_acount_text {
  margin: 0 300px;
}
.loginSmallDiv .login_acount_text .nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 100px;
}
.loginSmallDiv .login_acount_text .nav li {
  color: #7a80a2;
  font-size: 16px;
  border-bottom: 0;
  margin-right: 110px;
  height: 100%;
  float: left;
  cursor: pointer;
  list-style: none ;
  padding: 5px 10px;
  border-bottom: 0px solid #3f4760;
}
.loginSmallDiv .login_acount_text .nav .cur {
  border-bottom: 1px solid #b9c0ef;
  color: #b9c0ef;
}
.loginSmallDiv .item-box {
  display: none;
}
.loginSmallDiv .active {
  display: block;
}
.SK-button-com {
  margin-bottom: 100px;
}
.SK-button-com button {
  color: white;
  font-size: 16px;
  height: 30px;
  width: 70%;
  border: none;
  outline: none;
  box-sizing: border-box;
  margin-left: 90px;
}
.SK-button-com button .SK-button-com button:disabled {
  background-color: #bfbfbf;
  color: #fff;
}
body {
  color: #31374e;
  width: 100%;
  background-color: #31374e;
  min-height: 850px;
}
.loginInput {
  border: 1px solid #202539;
  margin: 10px 0px;
}
.orange {
  color: #fff;
  background-color: #eb6100;
  width: 118px;
  height: 36px;
  cursor: pointer;
  border: none;
  text-align: center;
  align-items: flex-start;
}
.input-captcha {
  display: inline-block;
  border: 0px solid #2666b5;
  width: 220px;
  height: 30px;
  left: 6px;
  top: 6px;
  font-size: 10px;
  color: #b9c0ef;
  background-color: #202539;
  margin-right: 10px;
  text-indent: 20px;
}
.input-code {
  display: inline-block;
  border: 0px solid transparent;
  width: 220px;
  height: 30px;
  left: 6px;
  top: 6px;
  font-size: 10px;
  color: #b9c0ef;
  background-color: #202539;
  margin-right: 8px;
  text-indent: 20px;
}
.input-text {
  display: inline-block;
  border: 0px solid transparent;
  width: 352px;
  height: 30px;
  left: 6px;
  top: 6px;
  font-size: 10px;
  color: #b9c0ef;
  background-color: #202539;
  text-indent: 20px;
}
.form-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form-input .label-elm {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  margin-right: 10px;
  text-align: right;
  font-size: 16px;
  color: #b9c0ef;
  width: 80px;
}
.label {
  cursor: default;
}
.describe {
  color: #7a80a2;
}
.radio-group {
  font-size: 14px;
  color: #b9c0ef;
  line-height: 29px;
}
.input-box {
  color: #b9c0ef;
}
#b {
  display: block;
}
.form-input .text-hint.error-hint {
  color: #f44848;
}
.form-input .text-hint {
  float: left;
  text-align: left;
  width: 200px;
  height: 48px;
  font-size: 16px;
  line-height: 48px;
  padding-left: 5px;
  overflow: hidden;
}
.loginInput input {
  border: 1px solid #f44848;
}
.loginInput input {
  border: 1px solid #2666b5;
}
.form-input .input-text,
.form-input .input-captcha,
.form-input .input-code {
  box-sizing: border-box;
  color: #b9c0ef;
  line-height: 46px;
  background-color: #202539;
  font-size: 14px;
  border: 1px solid #3a4056;
  border-radius: 2px;
  text-indent: 20px;
  resize: none;
}
#code_input {
  box-sizing: border-box;
  color: #b9c0ef;
  line-height: 29px;
  background-color: #202539;
  font-size: 14px;
  border: 1px solid #3a4056;
  border-radius: 2px;
  text-indent: 20px;
  resize: none;
  width: 220px;
}
.login-in {
  width: 300px;
}
/*# sourceMappingURL=register.css.map */