* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background: #202539;
}
#shopBox {
  width: 1200px;
  margin: 150px auto 200px auto;
}
#shopBox .s_shop {
  height: 132px;
  padding-top: 55px;
  padding-bottom: 51px;
  color: #b9c0ef;
  font-size: 18px;
  background: #202539;
}
#shopBox .s_shop span {
  margin-left: 30px;
}
#shopBox .s_navigation {
  width: 100%;
  background: #202539;
}
#shopBox .s_navigation button {
  width: 100px;
  height: 34px;
  margin-left: 30px;
  border: none;
  color: #7a80a2;
  background: #202539;
  outline: none;
  font-size: 14px;
}
#shopBox .s_navigation .active {
  color: #ff6900;
  border: none;
  border-bottom: 1px solid #ff6900;
}
section {
  background: #202539;
  display: none;
}
.activ {
  display: block;
}
.s-operation {
  background: #292e42;
  width: 96%;
  border-radius: 5px;
  border: 1px solid #33394d;
  height: 45px;
  line-height: 45px;
  margin-left: 30px;
  color: #7a80a2;
  font-size: 14px;
}
.s-operation input {
  margin-left: 10px;
}
.s_future {
  margin-left: 15px;
}
.s_game {
  margin-top: 20px;
  margin-left: 224px;
}
.s_number {
  margin-top: 20px;
  margin-left: 224px;
  padding-left: 165px;
}
.s_type {
  margin-left: 236px;
}
.s_price {
  margin-left: 115px;
}
.s_oper {
  margin-left: 140px;
}
.cao {
  padding-left: 80px;
}
.game-price {
  padding-left: 70px;
}
.goods {
  width: 96%;
  margin-bottom: 10px;
  margin-top: 16px;
  margin-left: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.goods div {
  margin-bottom: 10px;
  padding-bottom: 20px;
  background: #292e42;
  position: relative;
}
.goods .s-games {
  border-radius: 5px;
  background: #292e42;
}
.goods .s_choose {
  margin-top: 44px;
}
.goods input {
  margin-left: 10px;
}
.goods img {
  width: 135px;
  height: 80px;
  background: #33394d;
  border-radius: 2px;
  margin-left: 4px;
}
.goods .s_gameName {
  margin-left: 20px;
  color: #7a80a2;
  font-size: 14px;
  font-weight: bold;
  width: 300px;
  display: inline-block;
}
.goods .s-ordinary {
  margin-left: 120px;
  color: #7a80a2;
}
.goods .s-mon,
.goods .s-money {
  margin-left: 120px;
  color: #7a80a2;
  font-size: 16px;
  font-weight: bold;
}
.goods .s-wish {
  display: inline-block;
  margin-top: 30px;
  height: 50px;
  margin-left: 188px;
}
.goods .s-wish a {
  color: #7a80a2;
}
.s_state {
  margin-left: 150px;
}
.s_number {
  margin-left: 20px;
}
.s-stock {
  margin-left: 100px;
  color: #7a80a2;
}
.s-mon {
  color: #7a80a2;
  margin-left: 160px;
}
.s-del {
  margin-top: 30px;
  display: inline-block;
  margin-left: 150px;
}
.s-del a {
  color: #7a80a2;
  margin-left: 40px;
  margin-top: 30px;
}
.s-shopNumber {
  margin-left: 70px;
  display: inline-block;
  margin-top: 20px;
}
.s-shopNumber a {
  color: #7a80a2;
  font-size: 20px;
  text-decoration: none;
}
.s-shopNumber input {
  width: 30px;
}
.total {
  height: 80px;
  width: 95%;
  margin-top: 30px;
  margin-left: 30px;
  background: #292e42;
}
.total .all {
  margin-top: 30px;
  float: right;
  color: #7a80a2;
}
.total .submit {
  margin-right: 20px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border: none;
  background-color: #ff6900;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
}
.total .pir {
  margin-right: 50px;
  font-size: 22px;
}
.total .pir i {
  color: #ff6900;
  font-size: 20px;
}
.total .s-gamesm {
  margin-right: 30px;
  font-size: 14px;
}
.total .s-gamesm i {
  color: #ff6900;
  font-size: 20px;
}
.right_input {
  float: left;
  line-height: 24px;
  height: 20px;
  width: 35px;
  background: #FFFFFF;
  color: #33394D;
  text-align: center;
  border: none;
  margin: 3px 8px 0 8px;
  border-radius: 2px 2px 2px 2px;
}
.shopcartgames {
  font-size: 20px;
}
/*# sourceMappingURL=shoppingCart.css.map */