<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
    <!--<link rel="stylesheet" href="./../public/dist/bootstrap-3.3.7-dist/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="./../public/css/indexbottom.css">-->
    <!--<link rel="stylesheet" type="text/css" href="./../public/font/font_bottom/iconfont.css">-->


    <!--<script src="./../public/dist/jquery-3.3.1.js"></script>-->
    <!--<script src="./../public/dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>-->
    <!--<link rel="stylesheet" href="http://localhost:8081/dist/bootstrap-3.3.7-dist/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="http://localhost:8081/font/font_bottom/iconfont.css">-->
    <!--<link rel="stylesheet" href="http://localhost:8081/css/indexbottom.css">-->
    <!--<script src="http://localhost:8081/dist/jquery-3.3.1.js"></script>-->
    <!--<script src="http://localhost:8081/dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>-->

</head>
<body>
<div style="width: 100%;background-color: rgba(23,26,33,1);height: 285px">
    <div id="index-bottom">
        <div id="index-bottom-box1">
            <ul id="index-bottom-link">
                <li id="index-bottom-link-fir">友情链接 ： </li>
                <li><a href="javascript:;">游民星空</a></li>
                <li><a href="javascript:;">17173</a></li>
                <li><a href="javascript:;">新浪游戏</a></li>
                <li><a href="javascript:;">多玩网</a></li>
                <li><a href="javascript:;">游戏风云</a></li>
                <li><a href="javascript:;">太平洋游戏网</a></li>
                <li><a href="javascript:;">电玩橙子</a></li>
                <li><a href="javascript:;">麦块</a></li>
            </ul>
        </div>
        <div id="index-bottom-box2">
            <ul id="index-bottom-link2">
                <li id="index-bottom-link2-fri"><a href="">关于YouGame</a></li>
                <li><a href="javascript:;">UG开发者平台</a></li>
                <li><a href="javascript:;">“膜”计划</a></li>
                <li><a href="javascript:;">YouGame平台协议</a></li>
                <li><a href="javascript:;">客户服务</a></li>
                <li><a href="javascript:;">联系方式</a></li>
            </ul>
            <div id="index-bottom-box2-text">
                <p>2017 成都origin科技有限公司版权所有  所有商标版权属于其拥有者Tel:028-12345678 经营执照</p>
                <p>川公网安备11010802020140号 新出发川批字第直0816号 川ICP证140082号 川ICP备12041226号 川网文[2016]5770-752号</p>
                <p>健康游戏忠告:抵制不良游戏 拒绝盗版游戏 注意自保护 谨防受骗上当 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</p>
            </div>
        </div>
        <div id="index-bottom-else-link">
            <span><i class="iconfont icon-qq" id="bottom-qq"></i></span>
            <span><i class="iconfont icon-weixin" id="bottom-weixin"></i></span>
            <span><i class="iconfont icon-zhihu" id="bottom-zhihu"></i></span>
            <span><i class="iconfont icon-weibo" id="bottom-weibo"></i></span>
            <span><i class="iconfont icon-CN_bilibiliB" id="bottom-bili"></i></span>
        </div>
    </div>

</div>



</body>
</html>