<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>游戏</title>


    <link rel="stylesheet" href="http://localhost:8081/dist/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:8081/font/font_bottom/iconfont.css">
    <link rel="stylesheet" href="http://localhost:8081/css/games.css">
    <link rel="stylesheet" href="http://localhost:8081/css/indextop.css">
    <link rel="stylesheet" href="http://localhost:8081/css/indexbottom.css">
    <script src="http://localhost:8081/dist/jquery-3.3.1.js"></script>
    <script src="http://localhost:8081/dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>

<%-include nav.html%>
<div id="box" class="clearfix">
    <h1>全部游戏</h1>
    <section id="sec1">
        <ul id="sort">
            <li id="sort-new" class="active"><a href="javascript:;">最新</a></li>
            <li id="sort-score"><a href="javascript:;">评分</a></li>
            <li id="sort-wish"><a href="javascript:;">大家想要</a></li>
            <li id="sort-Price"><a href="javascript:;">价格<span class="glyphicon glyphicon-chevron-down" data-index="true"></span></a></li>
            <!--<li id="sort-upPrice"><a href="javascript:;">价格<span class="glyphicon glyphicon-chevron-up"></span></a></li>-->
        </ul>
    </section>
    <section id="sec2">
        <div class="sec2-left">
            <ul id="game">
                <!--<li>-->
                <!--<img src="https://s1.sonkwo.com/FuXdWv5bReRkomKzKNgRPBeZG98N?imageView2/2/w/170/h/100" alt="">-->
                <!--<div>-->
                <!--<p class="title">暗黑血统 III 豪华版</p>-->
                <!--<p class="date">发行于2018-11-28</p>-->
                <!--<ul >-->
                <!--<li><a href="">动作</a></li>-->
                <!--<li><a href="">角色扮演</a></li>-->
                <!--<li><a href="">冒险</a></li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--<span class="game-sale-price">￥265.00</span>-->
                <!--</li>-->

            </ul>
            <ul id="pagination">
                <!--<li>1</li>-->
            </ul>
        </div>


        <div id="filter-block">
            <div class="search-filter-block">
                <h2>主要类型</h2>
                <div class="search-tags">
                    <label class="checkbox-inline">
                        <input type="checkbox"> 动作
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 射击
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 策略
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 角色扮演
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 模拟
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 竞速
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 体育
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 休闲
                    </label>
                </div>
            </div>
            <div class="search-filter-block">
                <h2>按语言</h2>
                <div class="search-tags">
                    <label class="checkbox-inline">
                        <input type="checkbox"> 简体中文
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 繁体中文
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 英文
                    </label>

                </div>
            </div>
            <div class="search-filter-block">
                <h2>按系统</h2>
                <div class="search-tags">
                    <label class="checkbox-inline">
                        <input type="checkbox"> Win
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > Linux
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > Mac
                    </label>

                </div>
            </div>
            <div class="search-filter-block">
                <h2>按价格</h2>
                <div class="search-tags">
                    <label class="checkbox-inline">
                        <input type="checkbox"> 10元一下
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 10-50元
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 50-100元
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" > 100元以上
                    </label>
                </div>
            </div>
        </div>
    </section>
</div>

<%-include bottom.html%>

</body>
<script src="http://localhost:8081/js/games.js"></script>
</html>