<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            list-style: none;
        }
    </style>
    <!--<link rel="stylesheet" href="./../public/dist/bootstrap-3.3.7-dist/css/bootstrap.css">-->
    <!--<link rel="stylesheet" href="./../public/css/index.css">-->

    <!--<script src="./../public/dist/jquery-3.3.1.js"></script>-->
    <!--<script src="./../public/dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>-->
</head>
<body>
  <div style="width: 100%;background-color: #202539;">
      <div id="index-body">
          <section id="index-sec1">
              <div id="index-banner-car">
                  <div id="index-banner-gamemore">
                      <a href="javascript:;" readonly="" id="index-banner-game1">热门推荐游戏</a>
                      <a href="#" id="index-banner-game2">更多 +</a>
                  </div>
                  <div id="index-lunbo">
                      <img src="./../images/小黄鸭.png" alt="" style="width: 700px;height: 400px">
                  </div>
              </div>
              <div id="index-com">
                  <div id="index-com-commore">
                      <a href="javascript:;" id="index-com-com1">UGame社区</a>
                      <a href="#" id="index-com-com2">更多 +</a>
                  </div>
                  <div id="index-com-hot">
                      <h2>热门帖子</h2>
                      <ul>
                          <li><h3>帖子</h3><p>123</p></li>
                          <li><h3>帖子</h3><p>123</p></li>
                          <li><h3>帖子</h3><p>123</p></li>
                          <li><h3>帖子</h3><p>123</p></li>
                      </ul>
                  </div>
              </div>
          </section>
          <section id="index-sec2">
              <div id="index-holiday">
                  <div id="index-holiday-top">
                      <p>节假日特惠</p>
                  </div>
                  <div id="index-holiday-sale">
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/yougame2.png" alt="">
                          <h4>炒鸡玛丽 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/yougame2.png" alt="">
                          <h4>炒鸡玛丽 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/yougame2.png" alt="">
                          <h4>炒鸡玛丽 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/yougame2.png" alt="">
                          <h4>炒鸡玛丽 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                  </div>
              </div>
              <div id="index-per">
                  <div id="index-per-top">
                      <p>周边特惠</p>
                  </div>
                  <div id="index-per-sale">
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/小黄鸭.png" alt="">
                          <h4>小黄鸭 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/小黄鸭.png" alt="">
                          <h4>小黄鸭 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/小黄鸭.png" alt="">
                          <h4>小黄鸭 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                      <div class="holiday-sale">
                          <div class="holiday-sale-pro">促销</div>
                          <img src="./../images/小黄鸭.png" alt="">
                          <h4>小黄鸭 特别版</h4>
                          <p>50%</p><h5>$ 50</h5>
                      </div>
                  </div>
              </div>
          </section>
          <section id="index-sec4">
              <div id="index-group-top">
                  <h4>精品小组</h4>
              </div>
              <div id="index-group-push"  >
                  <div class="index-group">
                      <img src="./../images/小黄鸭.png" alt="">
                      <div class="index-group-right">
                          <h3>绝望的呐喊</h3>
                          <h5>人数:7777</h5>
                          <h6>帖子:8888</h6>
                      </div>
                  </div>
                  <div class="index-group">
                      <img src="./../images/小黄鸭.png" alt="">
                      <div class="index-group-right">
                          <h3>绝望的呐喊</h3>
                          <h5>人数:7777</h5>
                          <h6>帖子:8888</h6>
                      </div>
                  </div>
                  <div class="index-group">
                      <img src="./../images/小黄鸭.png" alt="">
                      <div class="index-group-right">
                          <h3>绝望的呐喊</h3>
                          <h5>人数:7777</h5>
                          <h6>帖子:8888</h6>
                      </div>
                  </div>

              </div>
          </section>
          <section id="index-sec3">
              <div id="index-sale-left">
                  <div id="index-newgame">
                      <div id="index-new-top">
                          <a href="#" readonly="" id="index-new">最新游戏</a>
                          <a href="#" id="index-new-newmore">更多 +</a>
                      </div>
                      <div id="index-new-sale">
                          <div class="index-new-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-new-game-text">
                                  <h5>暗黑破坏神<span>new</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <p>$ 200</p>
                              </div>
                          </div>
                          <div class="index-new-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-new-game-text">
                                  <h5>暗黑破坏神<span>new</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <p>$ 200</p>
                              </div>
                          </div>
                          <div class="index-new-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-new-game-text">
                                  <h5>暗黑破坏神<span>new</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <p>$ 200</p>
                              </div>
                          </div>
                          <div class="index-new-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-new-game-text">
                                  <h5>暗黑破坏神<span>new</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <p>$ 200</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="index-pro-game">
                      <div id="index-pro-top">
                          <a href="#" readonly="" id="index-pro">促销游戏</a>
                          <a href="#" id="index-pro-promore">更多 +</a>
                      </div>
                      <div id="index-pro-sale">
                          <div class="index-pro-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-pro-game-text">
                                  <h5>暗黑破坏神<span>促销</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <h6>-50%</h6>
                                  <p>$ 200</p>
                              </div>
                          </div>
                          <div class="index-pro-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-pro-game-text">
                                  <h5>暗黑破坏神<span>促销</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <h6>-50%</h6>
                                  <p>$ 200</p>
                              </div>
                          </div>
                          <div class="index-pro-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-pro-game-text">
                                  <h5>暗黑破坏神<span>促销</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <h6>-50%</h6>
                                  <p>$ 200</p>
                              </div>
                          </div>
                          <div class="index-pro-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-pro-game-text">
                                  <h5>暗黑破坏神<span>促销</span></h5>
                                  <h4>发行于2018-1-1</h4>
                                  <h3>标签</h3>
                                  <h6>-50%</h6>
                                  <p>$ 200</p>
                              </div>
                          </div>


                      </div>
                  </div>
              </div>
              <div id="index-sale-right">
                  <div id="index-rank">
                      <div id="index-rank-top">
                          <a href="#" id="index-rank-topgame">总排行</a>
                      </div>
                      <div id="index-rank-game">
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>
                          <div class="index-rank-game">
                              <img src="./../images/yougame2.png" alt="">
                              <div class="index-rank-gamefloat">
                                  <h4>奥德赛</h4>
                                  <h6>发行于:2018-1-1</h6>
                                  <p>1</p>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>


          </section>

      </div>
  </div>

</body>
</html>