<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>周边</title>
    <link rel="stylesheet" href="http://localhost:8081/dist/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="http://localhost:8081/font/font_bottom/iconfont.css">
    <link rel="stylesheet" href="http://localhost:8081/dist/swiper.css">
    <link rel="stylesheet" href="http://localhost:8081/css/roundLess.css">
    <link rel="stylesheet" href="http://localhost:8081/css/indextop.css">
    <link rel="stylesheet" href="http://localhost:8081/css/indexbottom.css">
    <script src="http://localhost:8081/dist/jquery-3.3.1.js"></script>
    <script src="http://localhost:8081/dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</head>
<body>


    <%-include nav.html%>
    <div id="roundBox">
        <!---周边标题----->
        <div class="r-title">
            <input type="button" class=" active" id="tab_one" value="周边首页">
            <input type="button" value="热门推荐" id="tab_two">
            <input type="button" value="限量折扣" id="tab_three">
        </div>

        <!---周边首页内容----->
        <section class="activ">
            <div class="swiper-container" id="box">
                <div class="swiper-wrapper" id="box1">
                    <div class="swiper-slide"><img src="../../images/roundImage/6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="../../images/roundImage/7.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="../../images/roundImage/8.jpg" alt=""></div>

                </div>
                <div class="swiper-button-prev swiper-button-white left"></div>
                <div class="swiper-button-next swiper-button-white right"></div>
                <div class="swiper-pagination"></div>
            </div>

            <div class="r_word">
                <div class="r_head">
                    <h1 class="person">怪物猎人世界</h1>
                    <a href="#" class="more">更多
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </div>

                <div class="r_image" >
                    <ul class="clearfix" id="round_box_one">
                        <!--<li class="first">-->
                            <!--<a href="#" class="r_img">-->
                                <!--<img src="../../images/roundImage/1-1.jpg" alt="">-->
                                <!--<button>查看全部</button>-->
                            <!--</a>-->
                        <!--</li>-->
                    </ul>

                </div>


                <div class="r_word">
                    <div class="r_head">
                        <h1 class="person">读库</h1>
                        <a href="#" class="more">更多
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>

                    <div class="r_image" >
                        <ul class="clearfix" id="round_box_two">
                            <!--<li class="first">-->
                                <!--<a href="#" class="r_img">-->
                                    <!--<img src="../../images/roundImage/1-2.jpg" alt="">-->
                                    <!--<button>查看全部</button>-->
                                <!--</a>-->
                            <!--</li>-->



                        </ul>

                    </div>
                </div>

                <div class="r_word">
                    <div class="r_head" >
                        <h1 class="person">怪物猎人XX</h1>
                        <a href="#" class="more">更多
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>

                    <div class="r_image" >
                        <ul class="clearfix" id="round_box_three">
                            <!--<li class="first">-->
                                <!--<a href="#" class="r_img">-->
                                    <!--<img src="../../images/roundImage/1-3.jpg" alt="">-->
                                    <!--<button>查看全部</button>-->
                                <!--</a>-->
                            <!--</li>-->

                        </ul>

                    </div>
                </div>

                <div class="r_word">
                    <div class="r_head">
                        <h1 class="person">生化危机</h1>
                        <a href="#" class="more">更多
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>

                    <div class="r_image" >
                        <ul class="clearfix" id="round_box_four">
                            <!--<li class="first">-->
                                <!--<a href="#" class="r_img">-->
                                    <!--<img src="../../images/roundImage/1-4.jpg" alt="">-->
                                    <!--<button>查看全部</button>-->
                                <!--</a>-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<a href="#" class="r_product">-->
                                    <!--<img src="../../images/roundImage/13.png" alt="" class="photo">-->
                                    <!--<h1 class="title" title="生化危机 火箭筒抱枕">生化危机 火箭筒抱枕</h1>-->
                                    <!--<p><span>￥</span>395.0</p>-->
                                <!--</a>-->
                            <!--</li>-->

                        </ul>

                    </div>
                </div>

                <div class="r_word">
                    <div class="r_head">
                        <h1 class="person">北通游戏手柄</h1>
                        <a href="#" class="more">更多
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>

                    <div class="r_image" >
                        <ul class="clearfix" id="round_box_five">
                            <!--<li class="first">-->
                                <!--<a href="#" class="r_img">-->
                                    <!--<img src="../../images/roundImage/1-5.jpg" alt="">-->
                                    <!--<button>查看全部</button>-->
                                <!--</a>-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<a href="#" class="r_product">-->
                                    <!--<img src="../../images/roundImage/17.png" alt="" class="photo">-->
                                    <!--<h1 class="title" title="北通阿修罗2游戏手柄有线版">北通阿修罗2游戏手柄有线版</h1>-->
                                    <!--<p><span>￥</span>109.0</p>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>

                    </div>
                </div>

                <div class="r_word">
                    <div class="r_head">
                        <h1 class="person">微软中国</h1>
                        <a href="#" class="more">更多
                            <i class="glyphicon glyphicon-plus"></i>
                        </a>
                    </div>

                    <div class="r_image" >
                        <ul class="clearfix" id="round_box_six">
                            <!--<li class="first">-->
                                <!--<a href="#" class="r_img">-->
                                    <!--<img src="../../images/roundImage/1-6.jpg" alt="">-->
                                    <!--<button>查看全部</button>-->
                                <!--</a>-->
                            <!--</li>-->



                            <!--<li>-->
                                <!--<a href="#" class="r_product">-->
                                    <!--<img src="../../images/roundImage/24.png" alt="" class="photo">-->
                                    <!--<h1 class="title" title="战争机器4-限量版T恤">战争机器4-限量版T恤</h1>-->
                                    <!--<p><span>￥</span>149.0</p>-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>

                    </div>
                </div>

            </div>
        </section>

        <!---热门推荐内容----->
        <section>
            <div class="r_recommend">
                <div class="r_brand">品牌标签:
                    <a href="#" class="capcom">Capcom</a>
                    <a href="#">YourGame自营</a>
                    <a href="#">CI Games</a>
                    <a href="#" class="tag-five">微软中国</a>
                    <a href="#" class="tag-four">北通</a>
                    <a href="#">YourGame周边</a>
                    <a href="#" class="tag-six">读库</a>
                </div>

                <div class="r_game">游戏标签：
                    <a href="#" class="crisis tag-three">生化危机</a>
                    <a href="#">堕落之王</a>
                    <a href="#" class="tag-one">怪物猎人世界</a>
                    <a href="#" class="tag-two">怪物猎人XX</a>
                </div>

                <div class="r_game r_type">一级分类：
                    <a href="#" class="crisis">服饰</a>
                    <a href="#">模型</a>
                    <a href="#">盒装游戏</a>
                    <a href="#">电脑硬件</a>
                    <a href="#">其他</a>
                    <a href="#">居家办公</a>
                    <a href="#">图书音像</a>
                </div>

                <div class="aquarius">
                    <ul id="hot">

                    </ul>
                </div>
            </div>
        </section>

        <!---促销折扣内容----->
        <section>
            <div class="r_recommend">
                <div class="r_brand">品牌标签:
                    <a href="#" class="capcom">Capcom</a>
                    <a href="#">YourGame自营</a>
                    <a href="#">CI Games</a>
                    <a href="#" class="tag-five">微软中国</a>
                    <a href="#" class="tag-four">北通</a>
                    <a href="#">YourGame周边</a>
                    <a href="#" class="tag-six">读库</a>
                </div>

                <div class="r_game">游戏标签：
                    <a href="#" class="tag-three">生化危机</a>
                    <a href="#">堕落之王</a>
                    <a href="#" class="tag-one">怪物猎人世界</a>
                    <a href="#" class="tag-two">怪物猎人XX</a>
                </div>

                <div class="r_game r_type">一级分类：
                    <a href="#" class="crisis">服饰</a>
                    <a href="#">模型</a>
                    <a href="#">盒装游戏</a>
                    <a href="#">电脑硬件</a>
                    <a href="#">其他</a>
                    <a href="#">居家办公</a>
                    <a href="#">图书音像</a>
                </div>

                <div class="aquarius">
                    <ul id="limi">

                    </ul>
                </div>
            </div>
        </section>

    </div>

    <%-include bottom.html%>
</body>
<script src="../dist/swiper.js"></script>
<script src="http://localhost:8081/js/roundJS/roundjs.js"></script>
</html>