<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>U帖详情</title>
</head>


<link rel="stylesheet" type="text/css" href="../font/font_b983hbbjgx/iconfont.css">

<link rel="stylesheet" href="http://localhost:8081/dist/bootstrap-3.3.7-dist/css/bootstrap.css">
<link rel="stylesheet" href="http://localhost:8081/font/font_bottom/iconfont.css">
<link rel="stylesheet" href="http://localhost:8081/font/font-awesome-4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="http://localhost:8081/font/font_b983hbbjgx/iconfont.css">
<link rel="stylesheet" href="http://localhost:8081/css/Utie.css">
<link rel="stylesheet" href="http://localhost:8081/css/indextop.css">
<link rel="stylesheet" href="http://localhost:8081/css/indexbottom.css">
<script src="http://localhost:8081/dist/jquery-3.3.1.js"></script>
<script src="http://localhost:8081/dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<body>

<%-include nav.html%>
<section class="clearfix">
    <a href="#">
        <div class="top">
            <!--<img src="../images/roundImage/U1.jpg" alt="">-->
            <!--<div>-->
                <!--<span>上古卷轴V：天际-->
                    <!--<i class="iconfont icon-shoucang"></i>-->
                    <!--<i class="iconfont icon-shoucang"></i>-->
                    <!--<i class="iconfont icon-shoucang"></i>-->
                    <!--<i class="iconfont icon-shoucang"></i>-->
                    <!--<i class="iconfont icon-shoucang"></i>-->
                <!--</span><br>-->

                <!--玩家数：<span>76569</span>&nbsp;&nbsp;-->
                <!--主题：<span>1769</span>&nbsp;&nbsp;-->
            <!--</div>-->
            <button class="top-btn"><span>关注</span></button>
        </div>
    </a>


    <div class="left-top clearfix">
        <!--U帖内容-->
        <div class="content">

            <!--<div class="post-header"><h1>等是等到了但却不想玩了</h1></div>-->
        <!--<div class="post-detail clearfix">-->
            <!--<div class="post-time">发表于2018-12-3 16:30:47</div>-->
            <!--<div class="btn-wrapper">-->
                <!--<button class="repost"><i class="iconfont icon-zan"></i>1</button>-->
                <!--<button class="views">回复 <span>0</span></button></div></div>-->
        <!--<div class="post-content"><p>我快要疯了</p></div>-->
        <!--<div class="post-box">-->
            <!--<div class="post-thumb-up ">-->
                <!--<p class="p1"><i class="iconfont icon-zan"></i></p>-->
                <!--<p class="p2">15545</p></div>-->
        <!--</div>-->

        <!--<div class="share">-->
            <!--<div class="share-left">-->
                <!--<i class="iconfont icon-jubao"></i> <span>举报 </span>-->
            <!--</div>-->
            <!--<div class="midle">-->
                <!--<div><i class="iconfont icon-weixin"></i></div>-->
                <!--<div><i class="iconfont icon-changyonglogo29"></i></div>-->
                <!--<div> <i class="iconfont icon-qq"></i></div>-->
                <!--<div><i class="iconfont icon-shoucang"></i></div>-->
            <!--</div>-->
            <!--<div class="right"><i class="iconfont icon-shoucang1"></i><span>1</span></div>-->
        <!--</div>-->

        </div>
        <div class="ping"></div>
        <h1 class="ping-title">发表评论</h1>
        <div class="submit-ping clearfix">
            <div class="div1">
                <!--<img src="../images/a.jpg" height="50" width="50"/>-->
            </div>
            <div class="div2">
                <textarea class="one"></textarea>
                <div class="two">
                    <p>最多可评论<span>140</span> 个字</p>
                    <span class="submit-btn">评论</span>
                </div>
                <p id="disappare">输入内容不能为空!</p>
            </div>
        </div>
        <div class="u-bottom">
            <!--<div class="u-leaving">-->
                <!--<div class="u-img">-->
                    <!--<img src="http://localhost:8081/images/personal/default.jpg">-->
                <!--</div>-->
                <!--<div class="u-name">-->
                    <!--<p>洋芋&nbsp;&nbsp;&nbsp;<span>发布于2018-09-01</span></p>-->
                    <!--<p>我在第一</p>-->
                    <!--<span>删除</span>-->
                    <!--<span class="repost"><i class="iconfont icon-zan"></i>1</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="bottom">已经到达底部</div>
    </div>


    <div class="right-box">
        <div class="right-top">
            <!--<img src="../images/a.jpg" height="100" width="100"/>-->
            <!--<div class="right-top2">-->
                <!--<p class="name1">取个名字真難</p>-->
                <!--<p class="name2" title="个性签名个性签名个性签名性签">个性签名个性签名个性签名性签</p>-->
                <!--<span>游戏数：</span><span>0</span>-->
            <!--</div>-->
        </div>
        <div class="right-bottom">
            <div class="title1">
                <div class="title2">
                    <p>官方小组</p>
                    <a href="javascript:;" id="a1">全部小组</a>
                </div>
                <div class="contentTeam">
                    <a href="javascript:;" class="team1" id="team2">
                        <!--<div class="div1">-->
                            <!--<img src="../images/1.png"/></div>-->
                        <!--<div><h1>YouGame综合讨论组</h1>-->
                            <!--<h2><i class="fa fa-user"></i>1573-->
                                <!--<i class="fa fa-file-text"></i>3954</h2>-->
                            <!--<p>最新讨论: 2018-12-02 19:31:59</p>-->
                        <!--</div>-->

                    </a>
                    <a href="javascript:;" class="team1" id="team3">
                      <!--<img src="../images/allTeam/fushe.jpg"/>-->
                    <!--<div><h1>辐射76</h1>-->
                            <!--<h2><i class="fa fa-user"></i>1479-->
                                <!--<i class="fa fa-file-text"></i>379</h2>-->
                            <!--<p>最新讨论: 2018-12-02 18:12:02</p>-->
                        <!--</div>-->
                    </a>
                    <a href="javascript:;" class="team1" id="team4">
                        <!--<img src="../images/3.jpg"/>-->
                        <!--<div><h1>疑问集中组</h1>-->
                            <!--<h2><i class="fa fa-user"></i>49-->
                                <!--<i class="fa fa-file-text"></i>57</h2>-->
                            <!--<p>最新讨论: 2018-11-30 20:07:16</p>-->
                        <!--</div>-->
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>
<%-include bottom.html%>

<script src="http://localhost:8081/js/Utie/Utie.js"></script>
</body>
</html>