<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心愿单</title>
</head>


<link rel="stylesheet" href="http://localhost:8081/dist/bootstrap-3.3.7-dist/css/bootstrap.css">
<link rel="stylesheet" href="http://localhost:8081/font/font_bottom/iconfont.css">
<link rel="stylesheet" href="http://localhost:8081/css/wish.css">
<link rel="stylesheet" href="http://localhost:8081/css/indextop.css">
<link rel="stylesheet" href="http://localhost:8081/css/indexbottom.css">
<script src="http://localhost:8081/dist/jquery-3.3.1.js"></script>
<script src="http://localhost:8081/dist/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<body>


<%-include nav.html%>
<section>
    <div class="box clearfix">
        <div class="left">
            <div class="left-top">
                <p><span>好嗨哦~</span> 心愿单</p>
                <div class="left-top-right">
                </div>
            </div>

            <div class="left-bot">
                <p class="title-one"></p>


        </div>

       </div>
    </div>
</section>

<%-include bottom.html%>
</body>
<script src="http://localhost:8081/js/roundJS/wishround.js"></script>
</html>